@page "/category"
@inject ICategoryRepository categoryRepository

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="~/favicon.png" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Category List</h2>
                </div>
            </div>
        </div>
        <div class="card-body py-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="category/create" class="btn btn-lg btn-secondary" style="width:250px;">Add New Category</a>
                </div>
            </div>
        </div>
        <p>Category's List</p>
        @if (Categories.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var obj in Categories)
                    {
                        <tr>
                            <td>
                                @obj.Name
                            </td>
                            <td>
                                <a href="@($"category/update/{obj.Id}")" class="btn btn-primary">Edit</a>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}

@code {
    private bool IsProcessing { get; set; } = false;
    private IEnumerable<Category> Categories { get; set; } = new List<Category>();

    /// podejscie przed renderowaniem
    // protected override async Task OnInitializedAsync()
    // {
    //     IsProcessing = true;
    //     // await wstrzymuje renderowanie w przeciwienstwie do Thread.Sleep
    //     //await Task.Yield(); // rendered
    //     await LoadCategories();
    //     //Thread.Sleep(2000);
    //     IsProcessing = false;
    // }

    /// <summary>
    /// podejście po renderowaniu
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsProcessing = true;
            //StateHasChanged();
            await LoadCategories();
            IsProcessing = false; 
            StateHasChanged(); // trzeba znowu odswiezyc
        }
        //return base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadCategories()
    {
        //Thread.Sleep(5000);
        // Load Categories
        Categories = await categoryRepository.GetAllAsync();
    }
}
